* {
	margin:0;
	padding:0;
	font-family: Helvetica Neue, Arial, serif
}

html, body {
	width:100%;
	height:100%;
}

canvas {
	border: 1px solid black;
}

.counter{
	font-weight: bold;
	margin: 10px;
}

.canvas-bottom{
	margin-top: 5px;
}

.circle{
	margin: 10px;
	border-radius: 20%;
	background-color: darkgreen;
	color: white;
	font-weight: normal;
}